<<<<<<< HEAD
/* Puedes dejarlo vacío si solo usas Bootstrap */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
=======
/* Puedes dejarlo vacío si solo usas Bootstrap */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
>>>>>>> 08b66a7d613ec0ce16d009f02319b3ee38712639
}